@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Audiowide', sans-serif;
    color: #ffffff;
    background-color: #000000;
    line-height: 1.5;
    font-size: 1rem; /* 16px équivaut à 1rem */
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, p, a, .btn, .header, .nav, .tournoi-section, .footer {
    font-family: 'Audiowide', sans-serif;
}

.back-to-top {
    position: fixed;
    bottom: 1.875rem; /* 30px en rem */
    right: 1.875rem; /* 30px en rem */
    background-color: #e94560;
    color: #fff;
    width: 3.125rem; /* 50px en rem */
    height: 3.125rem; /* 50px en rem */
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem; /* 20px en rem */
    line-height: 3.125rem; /* 50px en rem */
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #555;
}

.back-to-top.show {
    opacity: 1;
}

.menu-logos {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.logo-item {
    width: 6.25rem; /* 100px en rem */
    height: 6.25rem; /* 100px en rem */
    border-radius: 1.25rem 0 0 1.25rem; /* 10px en rem */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, width 0.3s;
}

.logo-item img {
    width: 60%;
    height: auto;
}

.logo-item.active {
    transform: translateX(-1.25rem); /* 20px en rem */
    width: 7.5rem; /* 120px en rem */
}

.team-page-container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.team-section {
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
}

.lol-section {
    background-image: url('../assets/fond_lol.png');
    background-size: cover;
    background-position: center center;
    border: 2px solid #dda868;
}

.valo-section {
    background-image: url('../assets/fond_valo.png');
    background-size: cover;
    background-position: center center;
    border: 2px solid #c62c2c;
}

.rl-section {
    background-image: url('../assets/fond-rl.png');
    background-size: cover;
    background-position: center center;
    border: 2px solid #316ec9;
}

.lol-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Cinzel Decorative';
    color: #dda868;
}

.valo-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Audiowide';
  color:#c62c2c;
}

.rl-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Audiowide';
  color:#316ec9;
}

.pools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
}

.pool {
    flex: 1 1 45%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
}

.pool h3 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    color: #e94560;
}

.team-list {
    margin-bottom: 1.5rem;
}

.team-list p {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

.bracket {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3125rem;
}

.bracket p {
    color: #ffffff;
    font-size: 1rem;
}

.footer {
    margin-top: 1vh;
    padding: 2vh 2vw;
    text-align: center;
    background-color: #121212;
}

/* Responsive CSS */
/* Pour les écrans de taille inférieure à 768px (tablette) */
@media (max-width: 800px) {
    .menu-logos {
        display: none; /* Cache les logos fixes à droite pour ne pas encombrer l'écran */
    }
}
   
@media (max-width: 400px) {
    .menu-logos {
        display: none; /* Cache les logos fixes à droite pour ne pas encombrer l'écran */
    }
}