@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #121212;
    --text-color: #ffffff;
    --highlight-color: #e94560;
    --secondary-highlight-color: #dda868;
    --dark-overlay: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Audiowide', sans-serif;
    color: var(--text-color);
    background-color: #000000;
    line-height: 1.5;
    font-size: 1rem;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}


h1, h2, h3, p, a, .btn, .header, .nav, .tournoi-section, .footer {
    font-family: 'Audiowide', sans-serif;
}

  
.back-to-top {
    position: fixed;
    bottom: 1.875rem; /* 30px en rem */
    right: 1.875rem; /* 30px en rem */
    background-color: #e94560;
    color: #fff;
    width: 3.125rem; /* 50px en rem */
    height: 3.125rem; /* 50px en rem */
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem; /* 20px en rem */
    line-height: 3.125rem; /* 50px en rem */
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #555;
}

.back-to-top.show {
    opacity: 1;
}

/* Section principale */
.tournoi-main {
    /* height: 100vh; */
    padding: 0;
    display: flex;
    padding-top: 1.875rem; /* 30px en rem */
    /* position: absolute; */
    /* overflow: hidden; */
    background-image: url('../assets/background2.mp4');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.menu-logos {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.logo-item {
    width: 6.25rem; /* 100px en rem */
    height: 6.25rem; /* 100px en rem */
    border-radius: 1.25rem 0 0 1.25rem; /* 10px en rem */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, width 0.3s;
}

.logo-item img {
    width: 60%;
    height: auto;
}

.logo-item.active {
    transform: translateX(-1.25rem); /* 20px en rem */
    width: 7.5rem; /* 120px en rem */
}

.tournoi-intro {
    text-align: center;
    /* margin-bottom: 3.125rem; */ /* 50px en rem */
}

.tournoi-intro h1 {
    font-size: 3.75rem; /* 60px en rem */
    margin-top: 2vh; /* 50px en rem */
    color: #e94560;
}

.tournoi-intro p {
    font-size: 1.5rem; /* 30px en rem */
    margin: auto;
    color: #ffffff; 
    max-width: 87.5rem; /* 1400px en rem */

}

/* Style de la section des détails du tournoi */
.tournoi-details {
    background: linear-gradient(135deg, #111111, #3e3939);
    animation: gradientBackground 10s ease infinite;
    padding: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0.625rem 1.25rem rgba(93, 22, 22, 0.7);
    max-width: 50rem;
    /* max-height: 50vh; */
    width: 100%;
    line-height: 1.5;
    text-align: left;
    /* position: absolute; */
    top: 70%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.tournoi-details:hover {
    box-shadow: 0px 1.25rem 1.875rem rgba(93, 22, 22, 0.9);
}

.tournoi-details h2 {
    font-size: 2.5rem; /* 40px en rem */
    font-family: 'Audiowide', sans-serif;
    color: #e94560;
    margin-bottom: 1.25rem; /* 20px en rem */
    text-transform: uppercase;
    letter-spacing: 0.0625rem; /* 1px en rem */
    opacity: 0;
    transform: translateY(1.25rem); /* 20px en rem */
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tournoi-details {
    font-size: x-large; /* 60px en rem */
    color: #ffffff;
    /* margin: 0.9375rem 0; */ /* 15px en rem */
    line-height: 1.5;
    margin: auto;
}

.tournoi-details p {
    margin-top: 1.25rem;
    line-height: 1.5;
    /* font-size: 1.5625rem; */ /* 25px en rem */
}

.tournoi-details p strong {
    margin-top: 1.25rem;
    color: pink;
    text-decoration: underline;
}

.tournoi-details p strong::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.1875rem; /* -3px en rem */
    width: 0;
    height: 0.125rem; /* 2px en rem */
    background-color: #e94560;
    transition: width 0.3s;
}

.tournoi-details p strong:hover::after {
    width: 100%;
}

.tournoi-detail i.fa {
    margin-right: 1.25rem; /* 20px en rem */
    color: #e94560;
    font-size: 1.5rem;
    transition: transform 0.3s, color 0.3s;
}

.tournoi-detail p:hover {
    color: #e94560;
    cursor: pointer;
    transition: color 0.3s ease;
}



/* Section League of Legends */
.lol-tournament-section {
    background-image: url('../assets/fond_lol.png'); /* Image de fond */
    background-size: cover; /* Couvre toute la section sans couper l'image */
    background-position: center center; /* Centrer l'image */
    color: #fff;
    padding: 5rem 2vw;
    text-align: left;
    font-family: 'Cinzel Decorative';
    box-shadow: 0 0.25rem 1rem rgba(123, 92, 34, 0.51); /* Ombre douce */
    border-radius: 0.625rem;
    width: 105rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.lol-tournament-section h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5rem; /* Taille dynamique */
    color: #dda868;
    margin-bottom: 1rem;
    /* margin-left: 2vw; */
}

/* Overlay sombre qui couvre toute l'image de fond */
.lol-tournament-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Ombre sombre */
    z-index: -1; /* Positionne l'overlay derrière le contenu */
}

/* Conteneur pour les détails Tournoi et Équipes */
.tournament-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}


/* Style des containers en fonction de leur position */
.tournament-details-container:nth-child(1) {
    border: 2px solid yellow;
    background-color: rgba(255, 255, 0, 0.1);
}

.tournament-details-container:nth-child(2) {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.tournament-details-container:nth-child(3) {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
}

/* Style des règles et des statuts */
.tournament-rules, .team-status {
    flex: 1 1 45%;
    max-width: 400px;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
}
.tournament-rules h3, .team-status h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Spécifique pour chaque couleur */
.tournament-details-container:nth-child(1) .tournament-rules,
.tournament-details-container:nth-child(1) .team-status {
    border: 2px solid yellow;
    color: yellow;
}

.tournament-details-container:nth-child(2) .tournament-rules,
.tournament-details-container:nth-child(2) .team-status {
    border: 2px solid red;
    color: red;
}

.tournament-details-container:nth-child(3) .tournament-rules,
.tournament-details-container:nth-child(3) .team-status {
    border: 2px solid blue;
    color: blue;
}


/* Case Tournoi */
.tournament-rules {
    /* flex: 1; */
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.625rem;
    text-align: center;
    border: 2px solid #dda868;
    max-width: 31.25rem; /* Limite de largeur */
    margin-left: 2vw;
}

.tournament-rules p {
    font-family: 'AudioWide';
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 1.25rem;
    margin-left: 0.625rem;
    text-align: left;
    line-height: 1.5;
}

/* Case Équipes */
.team-status {
    /* flex: 1; */
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.625rem;
    text-align: center;
    border: 2px solid #dda868;
    /* max-width: 31.25rem; */
    /* max-height: 50vh; */
    /* margin-top: -15vh; */
    /* margin-right: 2vw; */
    /* height: 2rem; */
}

/* Titres des cases */
.tournament-rules h3, .team-status h3 {
    font-family: 'AudioWide';
    font-size: 1.875rem;
    color: #dda868;
    /* margin-bottom: 1.25rem; */
    /* margin-left: 2vw; */
    text-align: center;
}

/* Description des sections */
.lol-tournament-section .description, 
.lol-tournament-section .details {
    font-size: 1.563rem;
    margin: 1.875rem;
    color: #ffffff;
    max-width: 50rem;
    /* overflow: hidden; */
    /* text-overflow: clip; */
}

/* Description des sections */
.valo-tournament-section .description, 
.valo-tournament-section .details {
    font-size: 1.563rem;
    margin: 1.875rem;
    color: #ffffff;
    max-width: 50rem;
    /* overflow: hidden; */
    /* text-overflow: clip; */
}

/* Description des sections */
.rl-tournament-section .description, 
.rl-tournament-section .details {
    font-size: 1.563rem;
    margin: 1.875rem;
    color: #ffffff;
    max-width: 50rem;
    /* overflow: hidden; */
    /* text-overflow: clip; */
}

.separator {
    border: none;
    border-top: 0.125rem solid var(--secondary-highlight-color);
    margin: 1.25rem 0;
    width: 100%;
}

/* Bouton d'inscription */
.register-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--secondary-highlight-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 0.3125rem;
    font-size: 1.875rem;
    margin-top: 6.25rem;
    transition: background-color 0.3s;
    align-self: center;
}

.register-button:hover {
    background-color: #c47d27;
}

/* Répéter pour Valorant */
.valo-tournament-section {
    position: relative;
    background-image: url('../assets/fond_valo.png');
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 5rem 2vw;
    text-align: left;
    font-family: 'Rajdhani';
    /* min-height: 100vh; */
    /* z-index: 0; */
    box-shadow: 0 0.25rem 1rem rgba(123, 34, 34, 0.51);
    border-radius: 0.625rem;
    /* min-width: 95vw; */
    /* width: 90%; */
    margin: 0 auto;
    C: \Users\gunsa\Desktop\Git-Repo\Sitemorga\SiteVrai\html;
    width: 105rem;
}

/* Répéter pour Rocket League */
.rl-tournament-section {
    /* position: relative; */
    background-image: url('../assets/fond-rl.png');
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 5rem 2vw;
    text-align: left;
    font-family: 'Rajdhani';
    /* min-height: 100vh; */
    /* z-index: 0; */
    box-shadow: 0 0.25rem 1rem rgba(34, 53, 123, 0.51);
    border-radius: 0.625rem;
    /* min-width: 95vw; */
    width: 105rem;
    margin: 0 auto;
}

.separator-section {
    /* width: 80%; */
    height: 5px;
    background-color: #d42a4e;
    /* margin: 100px auto; */ /* Centré avec un espace de 40px autour */
    margin: 100px,auto;
    margin-bottom: 3em;
    margin-top: 3rem;
    /* margin-left: 6em; */
    /* margin-right: 6em; */
    width: 80%;
    align-self: center;
}

@media (max-width: 768px) {

    .tournoi-intro h1 {
        font-size: clamp(3rem, 3vw, 4rem); /* Texte adaptatif */
    }
    .tournoi-intro p {
        font-size: clamp(1.2rem, 3vw, 1.8rem); /* Texte adaptatif */
    }

}

@media (max-width: 1024px) {
    .lol-tournament-section {
        width: 90%; /* Réduit la largeur pour laisser un padding sur les côtés */
        margin: 0 auto; /* Centre horizontalement */
        padding: 2rem 1rem; /* Ajoute un padding interne */
        min-height: 98vh; /* Prend presque toute la hauteur visible */
        text-align: center; /* Texte centré */
        flex-direction: column; /* Dispose les éléments en colonne */
        background-size: cover; /* Maintient la couverture */
        background-position: center;
    }

    .lol-tournament-section .description, 
    .lol-tournament-section .details {
        font-size: clamp(0.9rem, 3vw, 1.4rem); /* Texte adaptatif */
        margin: 0.2rem;
    }

    .lol-tournament-section h1 {
        font-size: clamp(3rem, 8vw, 4.5rem); /* Plus grand pour les titres */
    }

    .lol-tournament-section p {
        font-size: clamp(0.9rem, 3vw, 1.4rem); /* Texte adaptatif */
        line-height: 1.6; /* Meilleure lisibilité */
        margin: 0.2rem 0;
    }

    .lol-tournament-section .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Couche sombre légèrement renforcée */
    }

    .rl-tournament-section {
        width: 90%; /* Réduit la largeur pour laisser un padding sur les côtés */
        margin: 0 auto; /* Centre horizontalement */
        padding: 2rem 1rem; /* Ajoute un padding interne */
        min-height: 98vh; /* Prend presque toute la hauteur visible */
        text-align: center; /* Texte centré */
        flex-direction: column; /* Dispose les éléments en colonne */
        background-size: cover; /* Maintient la couverture */
        background-position: center;
    }

    .rl-tournament-section .description, 
    .rl-tournament-section .details {
        font-size: clamp(0.9rem, 3vw, 1.4rem); /* Texte adaptatif */
        margin: 0.2rem;
    }

    .rl-tournament-section h1 {
        font-size: clamp(3rem, 8vw, 4.5rem); /* Plus grand pour les titres */
    }

    .rl-tournament-section p {
        font-size: clamp(0.9rem, 3vw, 1.4rem); /* Texte adaptatif */
        line-height: 1.6; /* Meilleure lisibilité */
        margin: 0.2rem 0;
    }

    .rl-tournament-section .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Couche sombre légèrement renforcée */
    }

    .valo-tournament-section {
        width: 90%; /* Réduit la largeur pour laisser un padding sur les côtés */
        margin: 0 auto; /* Centre horizontalement */
        padding: 2rem 1rem; /* Ajoute un padding interne */
        min-height: 98vh; /* Prend presque toute la hauteur visible */
        text-align: center; /* Texte centré */
        flex-direction: column; /* Dispose les éléments en colonne */
        background-size: cover; /* Maintient la couverture */
        background-position: center;
    }

    .valo-tournament-section .description, 
    .valo-tournament-section .details {
        font-size: clamp(0.9rem, 3vw, 1.4rem); /* Texte adaptatif */
        margin: 0.2rem;
    }

    .valo-tournament-section h1 {
        font-size: clamp(3rem, 8vw, 4.5rem); /* Plus grand pour les titres */
    }

    .valo-tournament-section p {
        font-size: clamp(0.9rem, 3vw, 1.4rem); /* Texte adaptatif */
        line-height: 1.6; /* Meilleure lisibilité */
        margin: 0.2rem 0;
    }

    .valo-tournament-section .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Couche sombre légèrement renforcée */
    }

    .tournament-rules, .team-status {
        width: 85%; /* Réduit la largeur des cases */
        margin: 0 auto; /* Centré horizontalement */
        padding: 1.5rem; /* Augmente le padding interne */
        text-align: left; /* Texte aligné à gauche */
        font-size: clamp(0.9rem, 2vw, 1.2rem); /* Texte adaptatif dans les cases */
    }

    .register-button {
        width: 70%; /* Bouton moins large pour être esthétique */
        font-size: clamp(1.2rem, 2.5vw, 1.5rem); /* Taille adaptative du texte du bouton */
        margin-top: 2rem;
        padding: 1rem; /* Padding interne ajusté */
        align-self: center;
    }

    .tournoi-details {
        width: 90%;
    }

    .team-status {
        font-family : 'Rajdhani';
    }

    .tournament-rules h3 {
        font-size: clamp(1.3rem, 2vw, 1.5rem);
    }

    .separator {
        margin : 0.75rem 0;
    }

    .menu-logos {
        display: none;
    }
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #121212;
}